html {
    background-image: url(img/sala.jpg);
  }

  body {
    width: 600px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    border: 5px solid rgb(7, 0, 0);
}

h1 {
    margin: 0;
    padding: 20px 0;
  }

  
  